USE [master]
GO
/****** Object:  Database [AgentDB]    Script Date: 26.05.2025 0:35:58 ******/
CREATE DATABASE [AgentDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AgentDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\AgentDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AgentDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\AgentDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AgentDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AgentDB]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 26.05.2025 0:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[surname] [varchar](50) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[patronymic] [varchar](50) NULL,
	[phone] [varchar](12) NOT NULL,
	[application_id] [int] NOT NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discounts]    Script Date: 26.05.2025 0:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discounts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](50) NOT NULL,
	[months] [int] NOT NULL,
	[discount_price] [int] NOT NULL,
 CONSTRAINT [PK_Discounts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 26.05.2025 0:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[surname] [varchar](50) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[patronymic] [varchar](50) NULL,
	[phone] [varchar](11) NOT NULL,
	[user_id] [int] NOT NULL,
	[image] [varbinary](max) NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Queries]    Script Date: 26.05.2025 0:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Queries](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[city] [varchar](50) NOT NULL,
	[street] [varchar](50) NOT NULL,
	[house] [int] NOT NULL,
	[apartment] [int] NULL,
	[tariff_id] [int] NOT NULL,
	[staff_id] [int] NULL,
	[employee_id] [int] NOT NULL,
	[status_id] [int] NULL,
	[comment] [text] NULL,
 CONSTRAINT [PK_Application] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 26.05.2025 0:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 26.05.2025 0:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Services] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 26.05.2025 0:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](50) NOT NULL,
	[cost] [int] NOT NULL,
	[type] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Router] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 26.05.2025 0:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tariff]    Script Date: 26.05.2025 0:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tariff](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](50) NOT NULL,
	[service_id] [int] NOT NULL,
	[cost] [int] NOT NULL,
	[discount_id] [int] NULL,
 CONSTRAINT [PK_Tariff] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 26.05.2025 0:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[login] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[role_id] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Client] ON 

INSERT [dbo].[Client] ([ID], [surname], [name], [patronymic], [phone], [application_id]) VALUES (4, N'Зарипов', N'Николай', N'Артемович', N'+79123456789', 20)
INSERT [dbo].[Client] ([ID], [surname], [name], [patronymic], [phone], [application_id]) VALUES (5, N'Васенин', N'Александр', N'Михаилович', N'+79736712545', 21)
SET IDENTITY_INSERT [dbo].[Client] OFF
GO
SET IDENTITY_INSERT [dbo].[Discounts] ON 

INSERT [dbo].[Discounts] ([ID], [title], [months], [discount_price]) VALUES (1, N'Важный абонент', 12, 350)
INSERT [dbo].[Discounts] ([ID], [title], [months], [discount_price]) VALUES (2, N'Новогодняя акция', 6, 350)
INSERT [dbo].[Discounts] ([ID], [title], [months], [discount_price]) VALUES (3, N'Первичное подключение', 2, 350)
SET IDENTITY_INSERT [dbo].[Discounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([ID], [surname], [name], [patronymic], [phone], [user_id], [image]) VALUES (2, N'Рябинин', N'Павел', N'Ералашович', N'89999999999', 2, NULL)
INSERT [dbo].[Employee] ([ID], [surname], [name], [patronymic], [phone], [user_id], [image]) VALUES (3, N'Зайнуллина', N'Яна', N'Руслановна', N'89050235130', 3, NULL)
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Queries] ON 

INSERT [dbo].[Queries] ([ID], [city], [street], [house], [apartment], [tariff_id], [staff_id], [employee_id], [status_id], [comment]) VALUES (1, N'Казань', N'Баумана', 42, 24, 1, NULL, 1, 1, N'звонить после 18ч')
INSERT [dbo].[Queries] ([ID], [city], [street], [house], [apartment], [tariff_id], [staff_id], [employee_id], [status_id], [comment]) VALUES (2, N'Казань', N'Шамиля Усманова', 36, 10, 2, 1, 1, 5, N'роутер резерв')
INSERT [dbo].[Queries] ([ID], [city], [street], [house], [apartment], [tariff_id], [staff_id], [employee_id], [status_id], [comment]) VALUES (13, N'Казань', N'Баумана', 42, 21, 1, 1, 1, 1, N'доп сим')
SET IDENTITY_INSERT [dbo].[Queries] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([ID], [title]) VALUES (1, N'Агент')
INSERT [dbo].[Role] ([ID], [title]) VALUES (2, N'Супервайзер')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([ID], [title]) VALUES (1, N'Домашний интернет')
INSERT [dbo].[Services] ([ID], [title]) VALUES (2, N'Цифровое телевидение')
INSERT [dbo].[Services] ([ID], [title]) VALUES (3, N'Мобильная связь')
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([ID], [title], [cost], [type]) VALUES (1, N'Роутер до 1Гбит/с', 100, N'Аренда')
INSERT [dbo].[Staff] ([ID], [title], [cost], [type]) VALUES (2, N'Роутер до 1Гбит/с', 4300, N'Выкуп')
INSERT [dbo].[Staff] ([ID], [title], [cost], [type]) VALUES (3, N'ТВ-приставка', 100, N'Аренда')
SET IDENTITY_INSERT [dbo].[Staff] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([ID], [title]) VALUES (1, N'Заявка создана')
INSERT [dbo].[Status] ([ID], [title]) VALUES (2, N'В обработке')
INSERT [dbo].[Status] ([ID], [title]) VALUES (3, N'ДОП СЗ')
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[Tariff] ON 

INSERT [dbo].[Tariff] ([ID], [title], [service_id], [cost], [discount_id]) VALUES (1, N'Тариф 1', 1, 690, 2)
INSERT [dbo].[Tariff] ([ID], [title], [service_id], [cost], [discount_id]) VALUES (2, N'Тариф 1', 2, 690, 2)
INSERT [dbo].[Tariff] ([ID], [title], [service_id], [cost], [discount_id]) VALUES (3, N'Тариф 1', 3, 690, 2)
SET IDENTITY_INSERT [dbo].[Tariff] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [login], [password], [role_id]) VALUES (1, N'1', N'1', 1)
INSERT [dbo].[User] ([ID], [login], [password], [role_id]) VALUES (2, N'agent', N'agent', 1)
INSERT [dbo].[User] ([ID], [login], [password], [role_id]) VALUES (3, N'2', N'2', 2)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Client]  WITH CHECK ADD  CONSTRAINT [FK_Client_Application] FOREIGN KEY([application_id])
REFERENCES [dbo].[Queries] ([ID])
GO
ALTER TABLE [dbo].[Client] CHECK CONSTRAINT [FK_Client_Application]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_User1] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_User1]
GO
ALTER TABLE [dbo].[Queries]  WITH CHECK ADD  CONSTRAINT [FK_Application_Person] FOREIGN KEY([employee_id])
REFERENCES [dbo].[Employee] ([ID])
GO
ALTER TABLE [dbo].[Queries] CHECK CONSTRAINT [FK_Application_Person]
GO
ALTER TABLE [dbo].[Queries]  WITH CHECK ADD  CONSTRAINT [FK_Application_Router] FOREIGN KEY([staff_id])
REFERENCES [dbo].[Staff] ([ID])
GO
ALTER TABLE [dbo].[Queries] CHECK CONSTRAINT [FK_Application_Router]
GO
ALTER TABLE [dbo].[Queries]  WITH CHECK ADD  CONSTRAINT [FK_Application_Status] FOREIGN KEY([status_id])
REFERENCES [dbo].[Status] ([ID])
GO
ALTER TABLE [dbo].[Queries] CHECK CONSTRAINT [FK_Application_Status]
GO
ALTER TABLE [dbo].[Queries]  WITH CHECK ADD  CONSTRAINT [FK_Application_Tariff] FOREIGN KEY([tariff_id])
REFERENCES [dbo].[Tariff] ([ID])
GO
ALTER TABLE [dbo].[Queries] CHECK CONSTRAINT [FK_Application_Tariff]
GO
ALTER TABLE [dbo].[Tariff]  WITH CHECK ADD  CONSTRAINT [FK_Tariff_Discounts] FOREIGN KEY([discount_id])
REFERENCES [dbo].[Discounts] ([ID])
GO
ALTER TABLE [dbo].[Tariff] CHECK CONSTRAINT [FK_Tariff_Discounts]
GO
ALTER TABLE [dbo].[Tariff]  WITH CHECK ADD  CONSTRAINT [FK_Tariff_Services] FOREIGN KEY([service_id])
REFERENCES [dbo].[Services] ([ID])
GO
ALTER TABLE [dbo].[Tariff] CHECK CONSTRAINT [FK_Tariff_Services]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([ID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
